.user-info {
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    color:#78909C;
}
.not-found{
     margin: 30px auto;
    text-align: center;
    font-size: 25px;
    color:#F4511E;
}