.forgot-form {
    width: 350px;
    margin: 100px auto;
    .form-input {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        .mat-input-placeholder {
            color: #00B8D4!important;
        }
        .error {
            position: absolute;
            top: 5px;
            right: -170px;
            color: #EF5350;
            a {
                cursor: pointer;
            }
        }
    }
    .btn-forgot {
        margin: 15px auto 30px;
        color: #fff;
        width: 100px;
        background-color: #FF7043;
        display: flex;
        justify-content: center;
    }
    .control-buttons {
        display: flex;
        justify-content: space-between;
        button {
            width: 140px;
            color: #fff;
        }
        .btn-signup {
            background-color: #00B8D4;
        }
        .btn-login {
            background-color: #66BB6A;
        }
    }
    .validation {
        .question {
            color: #7E57C2;
            text-align: center;
            font-size: 35px;
            margin-top: 10px;
        }
    }
}